{% load static %}

<link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
<h1>投稿一覧</h1>
<ul>
    {% for post in object_list %}
    {% if user.is_authenticated or post.is_public %}
    <li>
        {% if not post.is_public %}[下書き]{% endif %}
        <a href="{% url 'blog:post_detail' post.id %}">{{ post.title }}</a>
    <br>
    {% if post.image %}
    <a href="{% url 'blog:post_detail' post.id %}">
        <img src="{{ post.image.url }}" alt="{{ post.title }}" width="240" height="126">
    </a>
    {% endif %}
    </li>
    {% endif %}
    {% empty %}
    <li>まだ投稿はありません</li>
    {% endfor %}
</ul>